---
import cuid from "cuid";

import Layout from "../layouts/Layout.astro";
import CopyToClipboardButton from "../components/CopyToClipboardButton.svelte";

let id = cuid();
---

<Layout title="CUID Generator">
  <main class="container">
    <h1>Welcome to CUID Generator</h1>
    <div>
      <p>
        Click on Copy button to copy the CUID to clipboard
        <br />
        Click on Change CUID button to refresh the page and get a new CUID
      </p>
    </div>
    <p>
      <b>{id}</b>
    </p>
    <div>
      <CopyToClipboardButton client:load id={id} />
      <button
        type="button"
        onclick="window.location.reload()"
        class="contrast outline">Change CUID</button
      >
    </div>
  </main>
</Layout>
